//size and move to right side of screen
.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    //pos within home-page container
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    //container fade-in animation (affects outline)
    opacity: 0;



    //!CUSTOM
    animation: fadeIn 4s 1s;
    animation-fill-mode: forwards;

    //!END CUSTOM
    

    //transparent outline logo
    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        //tilt slight on right side
        transform: rotateZ(30deg) !important;
    }

    //solid
    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        //appears once logo animation done
        opacity: 0;
        //? turns with z-axis, (like a clock with axis in middle)
        transform: rotateZ(30deg);
        //on top of container
        z-index: 1;

        //!CUSTOM
        animation: fadeIn 8s 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        //!END CUSTOM
    }

    //stroke settings to show outline logo
    //!placed outside in tutorial but not necessary
    .svg-container {
        stroke: #ffd700;
        // stroke-width: 10px;
        stroke-width: 0.25mm;

    }
}

