.stage-cube-container {
    //right half of the page
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    //starts at top of .about-page .container, pushed down 18%
    top: 0%;
    padding-top: 18%;
    margin-left: 0;
    overflow: hidden;
}

//spinning animation
.cubespinner {
    //custom animation
    animation: spincube;
    //smooth
    animation-timing-function: ease-in-out;
    //infinitely spinning 
    animation-iteration-count: infinite;
    //12 seconds then repeats
    animation-duration: 12s;
    transform-style: preserve-3d;
    //center the rotation
    transform-origin: 100px 100px 0;
    //center entire cube to right half of page
    margin-left: calc(50% - 100px);

    //faces of cube (icons stacked without .faces)
    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        //icon size
        font-size: 100px;
        //centering
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
    }

    //faces for each icon
    .face1 {
        transform: translateZ(100px);
    }
    .face2 {
        transform: rotateY(90deg) translateZ(100px);
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(100px);
    }
}


//12 seconds total
@keyframes spincube {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
        //start point
        transform: rotateX(360deg) rotateY(720deg);
    }
    16% {
        transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}