.stage-cube-container {
    //right half of the page
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    //starts at top of .about-page .container, pushed down 18%
    top: 0%;
    padding-top: 18%;
    margin-left: 0;
    overflow: hidden;
}